//Flexbox Grid
%si-fb {
  @extend %flexbox !optional;
}

%si-borRad10 {
  @include border-radius(10px);
}
// %si-borRad8 {
//   @include border-radius(8px);
// }
// %si-borRad6 {
//   @include border-radius(6px);
// }
// %si-borRad4 {
//   @include border-radius(4px);
// }
%si-borRad2 {
  @include border-radius(2px);
}
// %si-borRad0 {
//   @include border-radius(0px);
// }

// font-family

%si-lightFF {
  font-family: $light-ff;
}
%si-regularFF {
  font-family: $regular-ff;
}
%si-mediumFF {
  font-family: $medium-ff;
}
%si-boldFF {
  font-family: $bold-ff;
}
%si-blackBoldFF {
  font-family: $black-ff;
}




//background size
%si-bgSize--cover {
  @include background-size(cover);
}

%si-bgSize--contain {
  @include background-size(contain);
}