// Urbanist
$light-ff-2: "Urbanist";
$regular-ff-2: "Urbanist";
$medium-ff-2: "Urbanist";
$semi-bold-ff-2: "Urbanist";
$bold-ff-2: "Urbanist";
$black-ff-2: "Urbanist";

// Roboto
$light-ff: "Roboto";
$regular-ff: "Roboto";
$medium-ff: "Roboto";
$semi-bold-ff: "Roboto";
$bold-ff: "Roboto";
$black-ff: "Roboto";

//font weight
$light-fw: 300;
$regular-fw: 400;
$medium-fw: 500;
$semi-bold-fw: 600;
$bold-fw: 700;
$black-fw: 900;