@use "../config" as *;
// Prediction Navigation
.navbar {
  min-width: auto;
  margin: var(--full-space) 0;
  width: auto;

  i {
    font-size: 3rem;
  }
  @media screen and (max-width: $media-desktop-max) {
    ul {
      position: absolute;
      inset: 60px 20px 20px 20px;
      flex-direction: column;
      background-color: var(--white);
      border-radius: 8px;
      display: none;
      font-size: 1.5rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      li {
        padding: 10px 20px;
        margin-left: 0;
        width: 100%;
        a {
          justify-content: left;
        }
      }
    }
    &.navbar-mobile {
      position: fixed;
      overflow: hidden;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(9, 9, 9, 0.9);
      transition: 0.3s;
      z-index: 999;
      ul {
        display: flex;
      }
      i {
        position: absolute;
        right: 0;
        top: 0;
        color: var(--white);
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__wrap {
    border: 1px solid var(--neutral-8);
    justify-content: space-between;
    overflow: hidden;
    background: var(--neutral-7);
    @extend %borRad8 !optional;
    ul {
      overflow-x: auto;
      display: flex;

      li {
        font-size: 12px;
        color: var(--neutral-5);
        width: 100%;
        height: 40px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 0 20px;
        white-space: nowrap;
        display: flex;
        &.active {
          background: var(--primary-3);
          color: var(--white);
        }
      }
    }
  }
}

.header {
  position: fixed;
  width: 100%;
  background: var(--white);
  top: 0;
  padding: calc(var(--gutter-space) * 5);
  z-index: 2;

  &.header-scrolled {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
  }
  &__grid {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  &__brandLogo {
    font-size: 3rem;
    aspect-ratio: 16/9;
    width: 12rem;
    gap: var(--gutter-space);
    justify-content: flex-start;
    align-items: center;
    color: var(--primary);
    display: flex;
    font-weight: var(--fontWeightBold);

    img {
      display: block;
      aspect-ratio: 1/1;
      width: 6rem;
      height: auto;
    }
  }
}

.footer {
  &__wrap {
    --section-tb-pad: 3rem;
    box-shadow: 0 0 1.2rem 0 hsla(0, 0%, 0%, 0.1);
  }
  &__grid {
    gap: calc(var(--gutter-space) * 4);
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column-reverse;
    display: flex;
    @media screen and (min-width: $media-mobile-min) {
      align-items: center;
      flex-direction: row;
    }
  }
  &__copyright {
    text-align: center;
    font-size: 1.2rem;
    color: var(--neutral-1);
    @media screen and (min-width: $media-mobile-min) {
      font-size: 1.4rem;
    }
  }
  &__sitemap {
    font-size: 1.2rem;
    gap: calc(var(--gutter-space) * 2);
    justify-content: space-between;
    align-items: center;
    display: flex;
    @media screen and (min-width: $media-mobile-min) {
      font-size: 1.4rem;
      gap: calc(var(--gutter-space) * 5);
    }
    a {
      color: var(--primary);
      @extend %regularFF !optional;
    }
  }
}
