@use "../config" as *;
.btn {
  gap: 4px;
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
  color: var(--white);
  font-size: 1.6rem;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  @extend %regularFF !optional;
  display: flex;
  padding-left: calc(var(--gutter-space) * 8);
  padding-right: calc(var(--gutter-space) * 8);
  height: var(--cta-height);
  margin: 0 auto;
  border-radius: var(--border-radius-50);
  transition: 0.3s;
  &__primary {
    border: 2px solid var(--primary);
    background: var(--primary);
    color: var(--white);
    &--outline {
      background: var(--transparent);
      border: 2px solid var(--primary);
      color: var(--primary);
      &:hover {
        background-color: var(--primary);
        color: var(--white);
      }
    }
  }
  &__secondary {
    border: 2px solid var(--primary);
    background: var(--white);
    color: var(--primary);
    &--outline {
      background: var(--transparent);
      border: 2px solid var(--primary);
      color: var(--white);
    }
  }

  &__link {
    background: var(--cta-tertiary);
    color: var(--cta-tertiary-text);
    span {
      display: inline-block;
      padding-bottom: var(--half-space);
      padding-top: var(--half-space);
    }
  }

  &__linkText {
    font-size: 12px;
    color: var(--primary-2);
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    @extend %mediumFF !optional;
    @media screen and (min-width: $media-mobile-min) {
      font-size: 14px;
    }
  }
}
