@use "../config" as *;
//Checkbox button
.si-checkBox {
  position: relative;
  min-height: 40px;
  display: grid;
  align-items: center;
  word-break: break-all;
  border-bottom: 1px solid var(--neutral-7);
  label {
    &::before {
    }
  }
  [type="checkbox"] {
    &:disabled + label {
      @extend .si-disabled !optional;
    }
    &:checked,
    &:not(:checked) {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 11;
      cursor: pointer;

      & + label {
        position: relative;
        // padding-left: calc(16px * 2.1);
        cursor: pointer;
        line-height: 1;
        display: block;
        color: var(--neutral-7);
        @extend %si-boldFF !optional;

        &::after,
        &::before {
          font-family: "pgi" !important;
          border: 1px solid var(--neutral-6);
          border-radius: 4px;
          position: absolute;
          left: auto;
          right: 0;
          top: -4px;
          // top: 50%;
          width: 20px;
          height: 20px;
          // font-size: 20px;
          z-index: 1;
          justify-content: center;
          align-items: center;
          @extend %flexbox !optional;
          transform-origin: center center;
          // transform: translateY(-50%);
          @include transition(all 0.2s ease);
        }

        &::before {
          content: "";
          // @include transform(translateY(-50%));
        }

        &::after {
          content: "\e924";
          color: var(--neutral-7);
          background: var(--secondary-1);
          border-color: var(--secondary-1);
        }

        a {
          border-bottom: 1px solid var(--primary-1);
          margin-left: 8px;
          font-size: 12px;
          color: var(--primary-1);
          @extend %si-mediumFF !optional;
        }
      }
    }

    &:checked {
      & + label {
        color: var(--neutral-7);
      }
    }

    &:not(:checked) + label::after {
      opacity: 0;
      @include transform(scale(0));
    }

    &:checked + label::after {
      opacity: 1;
      @include transform(scale(1));
      // transform: scale(1) translateY(-50%);
    }

    &:checked + label::before {
      @include transition(all 0.2s ease);
    }

    &:disabled {
      :checked + label::before,
      :not(:checked) + label::before {
        border-color: var(--disable);
        background-color: var(--disable);
      }
    }
  }

  &:disabled:checked + label::after {
    background: rgba(var(--disable-rgb), 0.2);
  }
  &__createTeam {
    justify-content: center;
    border-bottom: none;
    margin-top: 20px;
    [type="checkbox"] {
      &:checked,
      &:not(:checked) {
        // z-index: initial;
        & + label {
          padding-left: calc(16px * 2.1);
          font-size: 12px;
          color: var(--neutral-5);
          // z-index: 999;
          cursor: default;
          font-family: var(--regular-ff) !important;
          a {
            font-size: 14px;
            color: var(--neutral-4);
            margin-left: 0;
            border-bottom: none;
            font-family: var(--medium-ff) !important;
            position: relative;
            z-index: 12;
          }
          &::after,
          &::before {
            left: 0;
            right: auto;
            top: -3px;
          }
        }
      }
    }
  }
}
