@use "../config" as *;

.si-dropdown {
  &.si-up {
    .si-dropdown__list {
      top: auto;
      bottom: calc(100% + 2px);
    }
  }
  &.si-fullScreenMenu {
    .si-dropdown__list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: abs($number: 0);
    }
  }
  &__lbl {
    flex-shrink: 0;
    text-align: center;
    font-size: 12px;
    color: var(--white);
    white-space: nowrap;
    @extend %si-regularFF !optional;
  }
  &__box {
    cursor: pointer;
    width: 100%;
    position: relative;
    text-align: center;
    color: var(--primary-3);
    background: var(--neutral-2);
    border: 1px solid var(--neutral-1);
    @extend %si-borRad100 !optional;

    &.si-active {
    }
  }
  &__value {
    gap: 10px;
    height: 40px;
    position: relative;
    font-size: 14px;
    // color: var(--white);
    padding: 8px 16px;
    // border: 1px solid hsla(var(--white-hsl), 0.3);
    // background: hsla(var(--white-hsl), 0.1);
    justify-content: flex-start;
    align-items: center;
    @extend %flexbox !optional;
    @extend %si-mediumFF !optional;
    @extend %si-borRad8 !optional;
    .si-value__icon {
      margin-left: auto;
      color: var(--primary-1);
      font-size: 16px;
      height: 100%;
      aspect-ratio: 1/1;
      justify-content: flex-end;
      align-items: center;
      @extend %flexbox !optional;
    }
  }
  &__list {
    width: 100%;
    position: absolute;
    top: auto;
    z-index: 2;
    // margin-top: .40px;
    background: var(--white);
    max-height: 140px;
    overflow-y: auto;
    @include box-shadow(0px, 4px, 16px, 0px, rgba(0, 0, 0, 0.16));
    @extend %si-borRad8 !optional;
    ul {
      margin: 8px;
      li {
        font-size: 14px;
        color: var(--primary-3);
        padding: 16px;
        text-align: left;
        @extend %si-mediumFF !optional;
        &:not(:last-child) {
          border-bottom: 1px solid var(--neutral-7);
        }
        &.si-active {
          // position: relative;
          background: var(--secondary-3);
          // &::after {
          //   content: "\e90e";
          //   font-family: "pgi" !important;
          //   position: absolute;
          //   top: 50%;
          //   right: 8px;
          //   transform: translateY(-50%);
          // }
          // color: var(--white);
          // background-color: var(--primary-3);
          // @extend %si-boldFF !optional;
        }
      }
    }
  }
}

.si-dropdownValue {
  justify-content: flex-start;
  align-items: center;
  @extend %flexbox !optional;
  &-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-right: 10px;
  }
  &-text {
    @extend %si-regularFF !optional;
  }
}
