@use "../config" as *;

.navbar {
  ul {
    overflow-x: auto;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: flex-start;
    align-items: center;
    display: flex;

    list-style: none;
    li {
      margin-left: 30px;
      font-size: 15px;
      a {
        white-space: nowrap;
        position: relative;
        color: var(--neutral-2);
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        display: flex;
        @extend %regularFF !optional;
        transition: 0.3s;
        @media screen and (min-width: $media-tablets-min) {
          height: 100%;
        }
        &.get_started {
          background-color: var(--primary);
          color: var(--white) !important;
          padding: 8px 25px;
          &:hover {
            background-color: #4aa3df;
          }
        }

        &.active {
          color: var(--primary);
        }
      }
    }
  }
}
