@use "../config" as *;

.navbar {
  ul {
    overflow-x: auto;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: flex-start;
    align-items: flex-start;
    @extend %flexbox !optional;
    list-style: none;
    li {
      margin-left: 30px;
      font-size: 15px;
      a {
        white-space: nowrap;
        position: relative;
        color: var(--nav-text);
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        @extend %flexbox !optional;
        @extend %si-regularFF !optional;
        @media screen and (min-width: $media-tablets-min) {
          height: 100%;
        }

        &.active {
          color: var(--neutral-3);
        }
      }
    }
  }
}
