@use "../config" as *;
//animations transition
.si-fade {
  &.in {
    z-index: 99999;
    background: hsla(var(--black-hsl), 0.5);
    @include opacity(1);
    @include transition(opacity 0.1s linear, padding-top 0.1s linear);
    .si-toastMsg__wrap,
    .si-popup__container {
      @include animation("si-popInUp .15s both");
    }
  }

  &.out {
    pointer-events: none;
    @include opacity(0);
    @include transition(opacity 0.1s linear, padding-top 0.1s linear);
    .si-toastMsg__wrap,
    .si-popup__container {
      @include animation("si-popOutUp .15s both");
    }
  }

  &.bg-dark {
    &.in {
      background: hsla(var(--black-hsl), 0.5);
    }
  }
}

//pop-ups
.si-popup {
  &__wrap {
    // backdrop-filter: blur(4px);
    z-index: -9999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    @extend %flexbox !optional;
    @media screen and (min-width: $media-tablets-min) {
      justify-content: center;
    }
    @media screen and (min-width: $media-desktop-min) {
      max-width: 100%;
    }
    &--matchDetails {
      .si-popup__container {
        @media screen and (min-width: $media-tablets-min) {
          max-width: var(--screen-mob-xs);
        }
      }
    }
    &--playerInfo {
      .si-popup__foot {
        .si-btn {
          flex-direction: row-reverse;
        }
      }
    }
    &--filters {
      .si-popup {
        &__container {
          background: var(--neutral-2);
        }
        &__body {
          background: var(--neutral-2);
          padding-top: 0;
          height: var(--window-inner-height);
          .si-filters {
            &__list {
              padding-left: 16px;
              .si-checkBox__lbl {
                color: var(--neutral-5);
                font-size: 14px;
                @extend %si-regularFF !optional;
              }
            }
            &Type {
              &__list {
                color: var(--primary-1);
                font-size: 14px;
                padding: 16px;
                cursor: pointer;
                &.si-active {
                  background: var(--secondary-3);
                }
              }
            }
            &__wrap {
              @extend %flexbox !optional;
              justify-content: space-between;
            }
            &__rhs {
              flex-grow: 1;
              max-width: calc(78% - 22px);
              border-left: 1px solid var(--neutral-7);
              margin-left: auto;
              width: 100%;
            }
            &__lhs {
              margin-left: -16px;
              position: fixed;
              max-width: calc(22% + 32px);
              width: 100%;
            }
          }
        }
        &__foot {
          padding-top: 16px;
        }
        &__head {
          flex-direction: row;
          align-items: center;
        }
        &__reset--cta {
          .si-btn {
            height: initial;
            color: var(--neutral-2);
          }
        }
      }
      &__list {
        &--item {
          display: flex;
        }
      }
    }
    &--toastMsg {
      --overlay-bg: hsla(225, 100%, 19%, 1);
      --overlay-title: hsla(0, 0%, 100%, 1);
      --overlay-caption: hsla(0, 0%, 0%, 1);
      --overlay-close: hsla(0, 0%, 100%, 1);
      justify-content: center;
      &.si-fade.in {
        background: none;
      }
      .si-popup {
        &__container {
          box-shadow: 0px 8px 12px 0px hsla(0, 0%, 0%, 0.25);
          @extend %si-borRad8 !optional;
          width: calc(100% - 32px);
        }
        &__heading {
          justify-content: space-between;
          flex-direction: row-reverse;
        }
        &__head {
          background: none;
        }
        &__body {
          padding-top: 0;
          font-size: 12px;
        }
        &__foot {
          button {
            color: var(--neutral-2);
            max-width: 90px;
            margin-left: inherit;
          }
        }
      }
    }
    &--search {
      .si-popup {
        &__container {
          background: var(--neutral-2);
        }
        &__body {
          height: var(--window-inner-height);
        }
        &__head {
          background: none;
          gap: 8px;
          flex-direction: row;
          padding-bottom: 0;
          @extend %flexbox !optional;
          .si-input {
            .pgi-search {
              font-size: 16px;
              color: var(--primary-3);
              position: absolute;
              left: 10px;
              top: 50%;
              transform: translateY(-50%);
            }
            input {
              background: var(--neutral-7);
              border: none;
              color: var(--neutral-1);
              padding-left: 35px;
            }
          }
          .si-btn {
            padding: 0;
            overflow: visible;
            @extend %si-boldFF !optional;
            color: var(--primary-3);
            i {
              font-size: 16px;
              width: 16px;
              height: 16px;
              color: var(--primary-3);
            }
          }
        }
        &__body {
          .si-playerList {
            &-body {
              padding: 0;
            }
            &-row {
              font-size: 1.2em;
            }
            &__tbl {
              color: var(--primary-1);
            }
          }
        }
      }
    }
    &--boosterCnfOverlay,
    &--discardTeamOverlay,
    &--createLeague,
    &--contestJoined,
    &--joinLeague {
      .si-popup {
        &__container {
          background: var(--neutral-2) var(--overlay-body-bg);
        }
      }
    }
    &--createLeague,
    &--joinLeague {
      .si-popup {
        &__body {
          padding-top: var(--full-space);
          padding-bottom: var(--full-space);
        }
        &__foot {
          padding-top: 16px;
        }
      }
    }
    &--discardTeamOverlay {
      .si-popup {
        &__body {
          padding-top: 24px;
          padding-bottom: 24px;
        }
      }
    }
  }

  &__container {
    overflow: hidden;
    max-height: calc(var(--window-inner-height) - 20px);
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    background: var(--overlay-bg);
    color: var(--overlay-title);
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    @extend %flexbox !optional;
    @include transform(translate(0, -25%) scale(0));
    @include transition(transform 0.3s ease-in);
    @include border-radius(8px 8px 0 0);
    @media screen and (min-width: $media-tablets-min) {
      @include border-radius(8px);
      max-width: var(--grid-width);
    }
  }

  &__close {
    // position: absolute;
    // top: 12px;
    // left: 12px;
    width: 24px;
    height: 24px;
    z-index: 2;
    font-size: 20px;
    color: var(--overlay-close);
    justify-content: center;
    align-items: center;
    @extend %flexbox !optional;
    @extend %si-buttonReset !optional;
  }

  &__heading {
    position: relative;
    width: 100%;
    font-size: 14px;
    color: var(--overlay-title);
    gap: 16px;
    justify-content: flex-start;
    align-items: center;
    @extend %flexbox !optional;
    @extend %si-boldFF !optional;
    span {
      position: relative;
      display: block;
    }
    &-sub {
      width: 100%;
      color: var(--overlay-caption);
      font-size: 14px;
      @extend %si-regularFF !optional;
    }
    + .si-popup__heading-sub {
      margin-top: calc(var(--gutter-space) * 2);
    }
  }
  &__head,
  &__foot,
  &__body {
    padding: 16px;
    width: 100%;
  }

  &__head,
  &__foot {
    position: relative;
  }

  &__head {
    gap: 16px;
    background: var(--secondary-1) var(--overlay-header-bg);
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    @extend %flexbox !optional;
  }

  &__body {
    max-height: calc(100vh - 60px);
    -webkit-overflow-scrolling: touch;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    overflow-x: hidden;
  }

  &__foot {
    padding-top: 0;
    justify-content: center;
    align-items: center;
    gap: 16px;
    @extend %flexbox !optional;
    .si-btn {
      flex-basis: calc(100% / 2);
      flex-grow: 1;
      min-width: auto;
      &__primary {
        --cta-primary: hsla(328, 100%, 50%, 1);
        --cta-primary-stroke: hsla(328, 100%, 50%, 1);
        &.si-disabled,
        &:disabled {
          --cta-primary: #7e89ae;
          --cta-primary-stroke: #7e89ae;
        }
      }
      // text-transform: uppercase;
    }
  }
}

//toast msgs
.si-toastMsg {
  &__wrap {
    color: var(--white);
    background-color: hsla(var(--primary-carbon-black-hsl), 0.85);
    border: var(--border-1) solid var(--primary-carbon-black);
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 99999;
    top: 20%;
    left: 50%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    display: flex;
    min-width: 300px;
    @include transform(translateX(-50%));

    &--generic {
      justify-content: center;
      align-items: center;
      @extend %flexbox !optional;
      @extend .si-borRad100 !optional;
    }

    &--socialSharing,
    &--alert {
      padding: var(--gutter-space);
      text-align: left;
      @extend .si-borRad4 !optional;
    }

    &--socialSharing {
      .si-toastMsg__close {
        .si-btn__link {
          color: var(--white);
        }
      }
    }

    &--alert {
      max-width: 300px;
      width: calc(100% - calc(var(--gutter16) * 2));
      border: none;
      background-color: var(--white);

      .si-toastMsg__close {
        color: var(--primary-carbon-black);
      }
    }

    &.si-danger {
      background: var(--ascent-error);
      box-shadow: 0px 8px 16px 0px #e21a1f3d;
      .si-toastMsg__icon {
        // background-color: var(--incorrect);
        transform: rotate(180deg);
      }
    }

    &.si-success {
      background: var(--ascent-success);

      .si-toastMsg__icon {
        // background-color: var(--correct);
      }
    }
    &.si-toast--absolute {
      position: absolute;
      top: 20px;
    }
  }

  &__close {
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    left: auto;
    top: 16px;
    right: 16px;

    .si-btn__link {
      box-shadow: none;
    }
  }

  &__text {
    // @include rhythm(15, 20, 0.5);
    font-size: 14px;
    line-height: 1;

    @extend .si-mediumFF !optional;
  }

  &__icon {
    font-size: 16px;
    margin-right: calc(var(--gutter-space) * 2);
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    color: var(--white);
    justify-content: center;
    align-items: center;
    @extend %flexbox !optional;
    @extend .si-borRad100 !optional;
  }
}
