@use "../config" as *;
// radio button
.si-radioBtn {
  word-break: break-all;
  position: relative;
  justify-content: space-between;
  align-items: center;
  @extend %flexbox !optional;
  &.v2 {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    [type="radio"] {
      &:checked,
      &:not(:checked) {
        & + label {
          padding: var(--gutter-space);
          height: 100%;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          border: 1px solid transparent;
          @include transition(border 0.1s linear, background-color 0.1s linear);
          &::after,
          &::before {
            left: 0;
            right: 0;
            margin: 0 auto;
            top: auto;
            bottom: 4px;
          }
        }
      }
      &:checked {
        & + label {
          border-color: var(--primary-3);
          background-color: hsla(250, 95%, 69%, 0.161);
        }
      }
    }
  }

  &.si-correct,
  &.si-wrong {
    pointer-events: none;
  }
  &.si-correct {
    [type="radio"] {
      &:checked,
      &:not(:checked) {
        & + label {
          border-color: var(--ascent-success);
          background: rgba(39, 197, 0, 0.08);
          &::before {
            display: none;
          }
          &::after {
            border-color: transparent;
            background-color: transparent;
            opacity: 1;
            color: var(--ascent-success);
          }
        }
      }
    }
  }
  &.si-wrong {
    [type="radio"] {
      &:checked,
      &:not(:checked) {
        & + label {
          border-color: var(--ascent-error);
          background: rgba(255, 0, 0, 0.08);
          &::before {
            display: none;
          }
          &::after {
            content: "\e90b";
            border-color: transparent;
            background-color: transparent;
            opacity: 1;
            color: var(--ascent-error);
          }
        }
      }
    }
  }
  &.si-noClick {
    [type="radio"] {
      &:checked,
      &:not(:checked) {
        & + label {
          &::after,
          &::before {
            display: none;
          }
        }
      }
    }
  }

  [type="radio"] {
    &:disabled + label {
      @extend .si-disabled !optional;
    }
    &:checked,
    &:not(:checked) {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;

      & + label {
        // text-transform: uppercase;
        font-size: 14px;
        line-height: 16px;
        width: 100%;
        position: relative;
        // padding-left: calc(var(--gutter-space) * 8);
        cursor: pointer;
        color: var(--primary-1);
        min-height: 40px;
        // justify-content: center;
        justify-content: flex-start;
        align-items: center;
        // @extend %flexbox !optional;
        @extend %si-boldFF !optional;

        &::after,
        &::before {
          // font-family: "pgi" !important;
          position: absolute;
          left: auto;
          right: 0;
          top: 50%;
          width: 16px;
          height: 16px;
          font-size: 18px;
          z-index: 1;
          justify-content: center;
          align-items: center;
          background-color: var(--checkbox-bg);
          @extend %si-borRad100 !optional;
          @extend %flexbox !optional;
          transform-origin: center center;
          @include transition(all 0.2s ease);
          border: 1px solid var(--secondary-1);
          transform: translateY(-50%);
        }

        &::before {
          content: "";
          border: 1px solid var(--neutral-6);
          // @include transform(translateY(-50%));
        }

        &::after {
          content: "\e90e";
          color: var(--checked-text);
          // background-color: var(--checked);
        }

        a {
          border-bottom: 1px solid var(--primary-1);
          margin-left: 8px;
          font-size: 12px;
          color: var(--primary-1);
          @extend %si-mediumFF !optional;
        }
      }
    }

    &:checked {
      & + label {
        &::after {
          color: var(--neutral-1);
        }
      }
    }

    &:not(:checked) + label::after {
      opacity: 0;
      // @include transform(scale(0));
    }

    &:checked + label::after {
      opacity: 1;
      // @include transform(scale(1));
    }

    &:checked + label::before {
      // background: var(--secondary-1);
      @include transition(all 0.2s ease);
      background-color: var(--secondary-1);
      box-shadow: inset 0 0 0 2px var(--neutral-2);
    }

    &:disabled {
      :checked + label::before,
      :not(:checked) + label::before {
        border-color: var(--disable);
        background-color: var(--disable);
      }
    }
  }

  &:disabled:checked + label::after {
    background: rgba(var(--disable-rgb), 0.2);
  }
  &.filterbyTeamRadio {
    color: var(--primary-1);
    .si-radioBtn__lbl {
      font-size: 12px;
      @extend %si-regularFF !optional;
      &--short {
        padding-top: 3px;
      }
    }
  }
}
