@use "../config" as *;

.si-tabs {
  &__wrap {
    // background-color: var(--tab-bg);
    overflow: hidden;
    .swiper {
      &-wrapper {
      }
      &-slide {
        width: 100px;
        @media screen and (min-width: $media-tablets-min) {
          width: 160px;
        }
      }
      &-button {
        &-next,
        &-prev {
          margin: 0;
          top: 0;
          background-color: var(--tab-bg);
          height: 100%;
          width: 40px;
          color: var(--white);
          &::after {
            font-size: 20px;
          }
        }
        &-next {
          right: 0;
        }
        &-prev {
          left: 0;
        }
      }
    }
    ul {
      padding: 2px;
      // min-width: 300px;
      overflow: hidden;
      justify-content: flex-start;
      align-items: stretch;
      // border: 1px solid var(--tab-active);
      // background-color: var(--tab-bg);
      @extend %flexbox !optional;

      li {
        // text-transform: uppercase;
        // flex-grow: 1;
        // flex-basis: 100%;
        justify-content: flex-start;
        align-items: flex-end;
        position: relative;
        @extend %flexbox !optional;
        min-height: 100%;

        button {
          @extend %si-buttonReset !optional;
        }

        button,
        a {
          padding: 0 4px;
          position: relative;
          height: 100%;
          color: var(--tab-text);
          font-size: 14px;
          white-space: nowrap;
          box-shadow: none;
          border: none;
          background: transparent;
          width: 100%;
          text-align: center;
          cursor: pointer;
          justify-content: center;
          align-items: center;
          gap: 4px;
          border: 1px solid transparent;
          @extend %flexbox !optional;
          @extend %si-borRad100 !optional;
          @extend %si-mediumFF !optional;
          &.si-active {
            pointer-events: none;
            // @extend %si-med !optional;
            color: var(--tab-active-text);
            border-color: var(--tab-active-border);
            em {
              @extend %si-regularFF !optional;
            }
            + .si-tabStroke {
              height: 2px;
            }
          }
          em {
            font-size: 10px;
            @extend %si-regularFF !optional;
          }
        }
      }
    }
    .si-tabStroke {
      position: absolute;
      background: var(--primary-2);
      height: 0;
      width: calc(100% - 32px);
      left: 50%;
      top: auto;
      bottom: 0;
      transform: translateX(-50%);
      @include transition(height 0.1s linear);
    }
  }
  &__item {
    padding: calc(var(--gutter-space) * 4);
    width: 100%;
    font-size: 12px;
    color: var(--tab-text);
    text-align: center;
    border-bottom: 4px solid transparent;
    gap: var(--gutter-space);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @extend %flexbox !optional;
    @extend %si-regularFF !optional;
    @extend %si-buttonReset !optional;
    em {
      font-size: 16px;
      display: block;
      @extend %si-regularFF !optional;
    }

    &.si-active {
      color: var(--tab-active);
      border-bottom-color: var(--tab-active);
    }
  }
}
