.si-gply{
    &Top{
        @extend %si-fb; 
        align-items: center;
        background-color: $theme-color-1; 
        padding: $gutter15; 
        .si-btn__secondary{
            color: $neutral-2;
            border-color: $neutral-2;
        }
        .si-btn{
            
            &__wrp{
                margin-left: auto;
            }
        }
    }
    
}