
.si-main--gameplay{
    .si-matchBanner,.si-nav{
        display: none;
    }
}
.si-gply{
    position: relative;
    // overflow-x: hidden;
    &.si-active{
        // padding-top: 99px;
        .si-gplyTopSticky{
            position: sticky;
            top: 0;
            z-index: 10;
        }
    }

    &Top{ 
        &Img{
            aspect-ratio: 16/9;
            background: url(../images/gameplay-top.jpg?v=#{$image-version});
            background-size: cover;
            position: relative;
        }
    }
    &Mid{
        flex: 1;
    }
    &WhiteBg{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: url(../images/gameplay-left.png?v=#{$image-version}) top left no-repeat , url(../images/gameplay-right.png?v=#{$image-version}) bottom right no-repeat;
        background-size: 25%,  20%;
        mix-blend-mode: normal;
        opacity: 1;
    }
    &Area{
        min-height: 390px;
        position: relative;
        background-color:  rgba($neutral-2, 1);
        @extend %si-fb; 
        flex-direction: column;
        // &:nth-last-child(2).si-gplyArea {
        //     min-height: 600px;
        // }
        &.si-submitLast{
            min-height: 600px!important;
        }
        &:not([class*="si-gplyGraphic"]){
            &:before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                background: url(../images/section-2-graphic.png?v=#{$image-version}) 0 0 no-repeat;
                background-size: contain;
                // mix-blend-mode: normal;
                // opacity: 0.3;

            }

            
            // background-color: $primary;
            padding: 75px 0;
            min-height: calc(390px + 150px);
            background-color: $primary;  


            .si-bottomBtns .si-jockerBtn{
                border-color: $neutral-2;
                color: $neutral-2;
                i{
                    color: $neutral-2;
                }
            }
            .si-ques{
                color: rgba($neutral-2, 1);
                &Num{
                    -webkit-text-stroke: 0.5px #F2C029;
                }
            }

 
   
        }

        &[class*="si-gplyGraphic"]{
            .si-buttonSlider .swiper-slide{
                border-color: rgba($primary, 0.3);
                background-color: rgba($primary, 0.2);
                color: $primary-2;
            }
            .si-tabtoselect span{
                border-color: $primary;
                color: $primary;
                
            }
            .si-noWicketsWrp{
                border-color: $primary-3;
                color: $primary-3;
            }
            label.si-checkBox i{
                border-color: $primary-3;
            }
            .si-pSelect .si-pName{
                color: $primary-2;
            }
            .rs-innerValue span{
                border-color: $primary;
                color: $primary;
            }

            /* images applied for before after graphics */
            &::before,&::after{
                content: "";
                aspect-ratio: $aspect-ratio-graphic;
                position: absolute;
                top: -72px;
                height: 75px;
                left: 0;
                width: 100%;
                background: url(../images/graphic-type-1-top.png?v=#{$image-version});
                background-size: 104% 75px;
                background-position: -5px bottom;
                background-repeat: no-repeat;
                z-index: 1;
                
            }
            &::after{  
                top: auto;
                bottom: -72px;        
                background-image: url(../images/graphic-type-1-bot.png?v=#{$image-version});
                background-position:-12px top;
                background-size: 104% 75px;
            }

        }       


    }
    // &Graphic-1,&Graphic-2,&Graphic-3{

    // }

    &Main{
  
        .si-btn-submit{ 
            @extend %si-fb; 
            align-items: center;
            justify-content: center;
            height: 90px;
            // background: linear-gradient(180deg, rgba(52, 13, 83, 0) 6.15%, #340D53 32.64%, #000000 99.02%);

            background: linear-gradient(180deg, $primary 0%, $primary-2 100%);

            // margin-top: -40px;
            z-index: 2;
            position: relative;
            text-transform: uppercase;

            .si-btn{
             max-width: 240px;
             width: 100%;
             margin: auto; 
             &.si-disabled *{
                opacity: 0.5;

             }
            }
         }
    }

    
}

.si-yrpActive{
    border: 1.5px solid rgba($neutral-2, 0.4);
    position: relative;
}
.si-yrPrediction{
    color: $primary-2;
    min-width: 85px;
    padding: 3px 9px;
    height: 20px;
    white-space: nowrap;
    border-radius: 20px;
    font-weight: $semi-bold-fw;
    @extend %si-fb;
    align-items: center;
    justify-content: center;
    background: $neutral-2;
    border: 1px solid rgba($primary, 0.2);
    backdrop-filter: blur(4px);
    position: absolute;
    top: -40px; 
    left: 50%;
    text-transform: capitalize;
    @include transform(translateX(-50%));
    span{
        font-size: 10px!important; 
        width: auto!important;
        height: auto!important;
        min-width: auto!important;
        max-width: none!important;
        background-color: transparent!important;
        backdrop-filter:none!important;
        line-height: 12px!important;
        margin: 0!important;
    }
    b{
        width: 8px;
        height: 5px;
        position: absolute;
        bottom: -5px; 
        left: 50%;
        @include transform(translateX(-50%));
        z-index: 0;
        overflow: hidden; 

        &:before{
            content: "";
            width: 6px; 
            height: 6px; 
            background-color: $neutral-2;
            backdrop-filter: blur(4px);
            border: 1px solid rgba($primary, 0.2);
            @include transform(rotate(45deg));
            // transform-origin: bottom right;
            position: absolute;
            left: 1px;
             top: -3px;


        }
    }


}


.si-matchStatus{
    &.si-live{
        color: $neutral-2;
        background-color: $live;
    }
    &.si-result{
        color: $primary-2;
        background-color: $result;
         
    } 
    &.si-upcoming{
        color: $primary-1; 
        background-color: $locked; 
    }

}

// tooltip space for your prediction 
.si-post{
    margin-top: 40px!important;
}