/* home page card*/
.si-hmCard {
  min-height: 211px;
  @extend %si-borRad10;
  @extend %si-fb;
  background: linear-gradient(180deg, $primary 0%, #100c16 100%);
  margin-bottom: $gutter16;
  border: 1px solid $primary;
  padding: 15px;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  justify-content: space-between;

  &::before {
    content: "";
    position: absolute;
    background: url(../images/card-bg.png?v=#{$image-version}) no-repeat left
      top;
    background-size: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 70%;
    opacity: 0.3;
  }
  &Top {
    @extend %si-fb;
    align-items: center;
  }
  // &Cont{

  // }
  &Head {
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    padding-bottom: 12px;
    position: relative;

    .si-headLeft {
      width: 100%;
      font-family: $bold-ff-2;
      font-weight: $black-fw;
      font-style: italic;
      position: relative;
      z-index: 1;
      color: $neutral-2;
    }
    .si-headRight {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 60%;

      img {
        width: 100%;
        height: auto;
        vertical-align: bottom;
      }
    }
  }
  &Desc {
    padding-top: 12px;
    border-top: 1px solid $quinary;
    font-size: 14px;
    line-height: 16px;
    color: $neutral-2;
  }
}
.si-teamVs {
  @extend %si-fb;
  span {
    width: 36px;
    height: 36px;
    @extend %si-fb;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    background-color: $neutral-2;
    border-radius: 100%;
    position: relative;
    z-index: 1;
    img {
      width: auto;
      height: 30px;
    }
    &.si-active {
      border: 1px solid $quinary;
    }
    &:last-child {
      z-index: 0;
      margin-left: -10px;
    }
  }
}
.si-matchStatus {
  height: 19px;
  padding: 5px 10px;
  font-size: 10px;
  line-height: 9px;
  font-weight: $bold-fw;
  @extend %si-borRad2;
  // background-color: rgba($neutral-2,0.8;

  margin-left: 15px;
}

/* support strip*/
.si-supportStrip{
  @extend %si-fb;
  align-items: center;
  justify-content: center;
  height: 30px;
  background-color: $neutral-3; 
  color: $neutral-2;
  font-size: 10px;
  img{
    width: auto;
    height: 13px;
    margin-left: 10px;
  }

}

/* match banner*/
.si-matchBanner {
  min-height: 111px;
  background: linear-gradient(180deg, $primary 0, #100c16 100%);
  padding: 0 $gutter24;
  @extend %si-fb;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    background: url(../images/matches-banner-right.png?v=#{$image-version}) no-repeat right
      bottom;
    background-size: contain;
    right: 0;
    top: 0;
    width: 60%;
    height: 100%;
    // opacity: 0.3;
    // mix-blend-mode: color-dodge;
  }
  &::after {
    content: "";
    position: absolute;
    background: url(../images/matches-banner-left.png?v=#{$image-version}) no-repeat left
      bottom;
    background-size: contain;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    // opacity: 0.3;
    // mix-blend-mode: color-dodge;
  }
  .si-hmCardHead {
    width: 100%;
    @extend %si-fb;
    padding-bottom: 0;
  }
  .si-headLeft {
    align-self: center;
  }
  .si-headRight {
    width: 55%;
    img {
      position: relative;
      right: 0%;
    }
  }
}

/* Matches card*/

.si-matches {
  &Points {
    .si-btn.si-btn__tertiaryIcon {
      padding-right: 5px;
    }
  }
  &Card {
    min-height: 167px;
    background: $neutral-2;
    // border: 1px solid $neutral-2;
    backdrop-filter: blur(10px);
    border-radius: $border-radius-10;
    overflow: hidden;
    @extend %si-fb;
    flex-direction: column;
    margin-bottom: $gutter16;

    &.si-live {
      .si-matchesPoints{
        justify-content: center;
        .si-matchesComLft{
          display: none;
        }
        .si-btn{
          max-width: 204px;
          width: 100%;
        }
      }
      .si-matchesTmLft {
        background-color: $live;
        color: $neutral-2;
      }
    }
    &.si-result {
      .si-matchesTmLft {
        background-color: rgba($result, 1);
        
      }
    }
    &.si-upcoming {
      .si-matchesTmLft {
        background-color: rgba($upcoming, 0.2);
      }
    }
    &.si-locked {
      .si-matchesTmLft {
        background-color: $locked;
        color: rgba($neutral-3, 1);
      }
    }
    &.si-completed {
      .si-matchesTmLft {
        background-color: rgba($completed, 0.7);
        color: rgba($neutral-2, 1);
      }
    }
    &List {
      padding: $gutter16;
      .si-noResult {
        @extend %si-fb;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 150px;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: $neutral-2;
        
        &Img {
          width: 30px;
          height: 30px;
          background: url(../images/svg/no-result.svg?v=#{$image-version})
          
            no-repeat;
          background-size: contain;
          margin-bottom: 15px;
        }
      }
    }
  }
  &Bot {
    height: 49px;
    background-color: $neutral;
    padding: $gutter4;
    .si-btn {
      min-width: 107px;
    }
  }
  &Predict {
    @extend %si-fb;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .si-matchesComLft {
      padding-left: 10px;
    }
    .si-btn.si-btn__tertiaryIcon {
      padding-right: 5px;
    }
    &Txt {
      color: $neutral-2;
      font-size: 10px;
      padding: 0 $gutter15;
    }
    &.si-noPredict {
      font-size: 11px;
      line-height: 13px;
      color: $primary-1;
      justify-content: center;
    }
  }
  &Top {
    padding: $gutter10;
    color: $primary-2;
    @extend %si-fb;
    flex-direction: column;
    flex: 1;

    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: url(../images/match-card-left.png?v=#{$image-version}) no-repeat
        bottom center;
      background-size: cover;
      mix-blend-mode: normal;
      opacity: 0.10;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background: url(../images/match-card-right.png?v=#{$image-version}) no-repeat
        bottom center;
      background-size: cover;
      mix-blend-mode: normal;
      opacity: 0.10;
    }
  }
  &Detail {
    height: 20px;
    font-size: 12px;
    @extend %si-fb;
    align-items: center;
    justify-content: space-between;

    // @media screen and (max-width: $media-mobile-sm-max) {
    //   font-size: 8px;
    // }

    .si-supoort{
      margin-right: 10px;
      margin-left: auto;
      img{ 
        width: 85px;
        height: 13px;
      }
    }
  }
  &Tm {
    &Flg {
      width: 45px;
      height: 45px;
    }
    &Lft {
      min-width: 55px;
      height: 20px;
      background-color: rgba($neutral-2, 0.2);
      border-radius: $gutter2;
      padding: 3px 5px;
      font-size: 10px;
      text-align: center;
      font-weight: $bold-fw;
      justify-content: center;
      align-items: center;
      @extend %si-fb;
      @media screen and (max-width: $media-mobile-sm-min) {
        font-size: 8px;
      }
      // @media screen and (max-width: $media-mobile-sm-max) {
      //   font-size: 6px;
      // }
      // @media screen and (max-width: $media-mobile-sm-max) {
      //   font-size: 8px;
      // } 
      i {
        font-size: 11px;
        margin-right: 5px;
      }
    }
  }
  &Vs {
    @extend %si-fb;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;

    &Tm {
      flex: 1;
      @extend %si-fb;
      align-items: center;
      color: $primary-1;
      .si-tmNm {
        font-weight: $bold-fw;
        @media screen and (max-width: $media-mobile-sm-max) {
          font-size: 14px;
        }
      }
      .si-tmFlg {
        margin-right: 10px;
        margin-left: 0;
        width: 45px;
        text-align: center;
        @media screen and (max-width: $media-mobile-sm-max) {
          width: 30px;
        }
        img {
          width: auto;
          height: 45px;
        }
      }
      &:first-child {
        justify-content: flex-end;
        .si-tmFlg {
          margin-left: 10px;
          margin-right: 0;
        }
      }
    }
    &Common {
      flex: 1;
      text-align: center;
      @extend %si-fb;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .si-wm{
        margin-top: 5px;
        padding: 3px 10px;
        background-color: $women;
        color: $neutral-2;
        border-radius: 2px;
        font-size: 1rem;
        font-weight: $semi-bold-fw;
        @media screen and (max-width: $media-mobile-sm-max) {
          padding: 3px 5px;
          margin-left: 10px;
        }
      }
    }
    &Txt {

      & > span:first-child{
        opacity: 0.5;
        font-size: 12px;
      }
      
    }
  }
  &Venus {
    width: 100%;
    text-align: center;
    font-size: 11px;
  }
  &DateTm {
    font-size: 10px;
    line-height: 12px;
    // span {
    //   display: block;
    // }
  }
  &Points {
    @extend %si-fb;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: $gutter10;
    .si-btn {
      padding: $gutter10 $gutter15 $gutter10 $gutter15;
      // &__secondary {
      //   color: $neutral-2;
      //   border-color: $neutral-2;
      // }
    }
  }
  &ComLft {
    color: $primary-1;
    position: relative;
    
    &::after {
      content: "";
      position: absolute;
      left: -12px;
      width: 1px;
      height: 21px;
      background-color: $primary-1; 
      top: 50%;
      @include transform(translateY(-50%));
      opacity: 0.5;
    }
    &:first-child {
      &:after {
        display: none;
      }
    }
    span {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &:nth-child(1) {
        font-size: $gutter16;
        font-family: $bold-ff-2;
        font-weight: $black-fw;
      }
      &:nth-child(2) {
        font-size: $gutter10;
        opacity: 0.5;
      }
      &:last-child{
        font-size: $gutter10;
        font-weight: $regular-fw;
        @media screen and (max-width: $media-mobile-sm-max) {
          font-size: 9px;


        }
      }
    }
    label {
      width: 12px;
      height: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 14px;
      margin-left: 5px;
      &::after {
        content: "\e903";
        font-family: kkr !important;
        font-size: 5px;
      }
    }
    &.si-correctAns {
      label {
        background-color: #18b915;
        border-color: #18b915;
        color: white;
        &::after {
          content: "\e903";
          font-family: kkr !important;
        }
      }
    }
    &.si-wrongAns {
      label {
        background-color: #d20819;
        border-color: #d20819;
        color: white;
        &::after {
          content: "\e917";
          font-family: kkr !important;
          font-size: 12px;
        }
      }
    }
  }
}
