.si-nav{ 
    height: 38px;
    background-color:  $primary-2;
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    font-family: $medium-ff-2;
    font-weight: $semi-bold-fw;
    li{
        position: relative;
        font-size: 13px;
        line-height: 14px;
        
        display: inline-block;
        
        cursor: pointer;
        a{
            color: $neutral;
            display: inline-block;
            padding: $gutter10 $gutter24;
            &.si-active{
                color: $secondary;
      
                &:after{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -4px;
                    height: 2px;
                    width: 100%;
                    background-color: $secondary;
                }
            }
        }


    }
}