.si-notification{
    height: 30px;
    background-color: $primary;
    @extend %si-fb;
    align-items: center;
    justify-content: center;
    padding: 5px 50px;
    color: $neutral-2;
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 50%;
    @include transform(translateX(-50%));
    white-space: nowrap;
    border-radius: 30px;
    border: 1px solid rgba($neutral-2, 0.4);
  
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    @include transition(all 0.3s);
    margin: auto;
    
    &.si-active{
        visibility: visible;
        opacity: 1;
        bottom: 100px;
    }
    i{
        margin-right: 8px;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        color: $quinary;
    }
}