.si-pagination{
    // position: sticky;
    // height: 0;
    position: fixed;
    right: 0;
    top: 30%;
    
    @extend %si-fb; 
    flex-direction: column;
    align-items: flex-end;
    z-index: 10;
   
    

    div{
        padding: 5px 10px;
        margin-right: 10px;
        width: 45px;

        span{
            width: 18px;
            height: 18px;
            font-size: 10px;
            color: $neutral-2;
            font-weight: $bold-fw;  
            border-radius: 100%;
            background-color: rgba($primary-2, 0.25);
            text-align: center;
            margin: auto;
            flex-shrink: 0;
            @extend %si-fb; 
            justify-content: center;
            align-items: center;
        }
        &.si-attempted{
            span{
                background-color: rgba($senary, 0.4);
            }
            
        }
        &.si-joker{
            span{
                border: 1px solid $quinary;
            }
            
        }
        &.si-correct{
            span{
                background-color:rgba($correct, 0.4);
            
                color: rgba($neutral-2, 0.7);
            }
        }
        &.si-wrong{
            span{
                background-color: rgba($incorrect, 0.4);
           
                color: rgba($neutral-2, 0.7);
            }
        }
        // &:not(.si-active){
        //     span{
        //         border: 11px solid transparent;
        //     }
        // }
        &.si-active{
            position: relative;

            span{
                background-color: $neutral-2;
                width: 24px;
                height: 24px;
                font-size: 14px;
                color: $theme-color-1;

                border: 2px solid $quinary;
            }
        }

    }
}

// .si-correct{
//     .si-pagination{
//         a{
//             background-color: $correct;
//             color: $neutral-2;
//         }
//     }
// }

// .si-wrong{
//     .si-pagination{
//         a{
//             background-color: $incorrect;
//             color: $neutral-2;
//         }
//     }
// }