.si-gply{
    &Points{
        text-align: center;
        color: $neutral-2;
        margin: 15px 0;
        position: relative;
        z-index: 9;
        div{
            background-color: hsla(38, 69%, 37%, 1);
            padding: 5px 10px;
            border-radius: 30px;
            display: inline-block;
            font-size: 12px;
            line-height: 15px;
            span{
                margin-left: 3px;
                display: inline-block;
            }
        }
    }
}