.si-ques{
    position: relative;
    font-size: 18px;
    line-height: 22px;
    font-weight: $bold-fw;
    padding:0 50px;
    color: $primary-1; 
    text-align: center;
    &Num{
        width: 120px;
        height: 67px;
        margin-bottom: -15px;
        display: inline-block;
        font-size: 59px;
        line-height: 71px;
        background: rgba($primary, 0.15);
-webkit-background-clip: text;
// -webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

// backdrop-filter: blur(4.72727px);
backdrop-filter: blur(0);

    -webkit-mask-image: linear-gradient(to top,transparent 20%,#000 50%);
    mask-image: linear-gradient(to top,transparent 20%,#000 50%);
       
            color: rgba($neutral-2, 0.01);
            -webkit-text-stroke: 0.5px rgba($primary-1, 1);
            font-family: $black-ff-2;
            font-weight: $black-fw;
        
         
        // background-image: url(../images/question_no.png);
        // background-size: 785px 57px;
        // &1{
        //     background-position: -2px 0;
        // }
        // &2{
            //     background-position: -99px 0;
            // }
        // &3{
        //     background-position: -199px 0;
        // }
        // &4{
        //     background-position: -299px 0;
        // }
        // &5{
        //     background-position: -399px 0;
        // }
        // &6{
        //     background-position: -499px 0;
        // }
        // &7{
        //     background-position: -599px 0;
        // }
        // &8{
        //     background-position: -699px 0;
        // }
    }
    &Area{
        min-height: 100px;
    }
}


/* tab to select player*/

.si-tabtoselect{
    &__main{
        @extend %si-fb;
        padding-left: 25px;
    }
    &__plr{
        color: $neutral-2;
        padding-left: 30px;
        @extend %si-fb;

        div{
            width: 32px;
            height: 32px;
            position: relative;
            margin-left: 30px;
            &:first-child{
                margin-left: 0;
            }
            &.si-selected{
                i{
                    visibility: visible;

                }
                span{
                    border-color: $secondary-2;
                    position: relative;
                    img{
                        position: absolute;  
                        width: 50px;
                        height: auto;
                        left: 50%;
                        top: 0;
                        transform: translateX(-50%);

                    }
                }
            }
            &:not(.si-selected){
                span img{
                    margin-top: 3px;
                }
            }
        }
        span{
            display: inline-block;
            width: 32px;
            height: 32px;
            border: 1px solid $secondary-2;
            border-radius: 100%;
            background-color: $secondary;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        i{

            position: absolute;
            right: -8px;
            top: -8px;
            padding: 5px;
            visibility: hidden;
            &::before{
                @extend %si-fb;
                align-items: center;
                justify-content: center;
                width: 14px;
                height: 14px;
                border-radius: 100%;
                background-color: $secondary-2;
                color: $neutral-3;
                font-size: 8px;
            }
        }
    }
    text-align: center;
    span{
        color: $neutral;
        border: 1px solid rgba($neutral-2, 0.3);
        display: inline-block;
        height: 30px;
        padding:7px 16px;
        border-radius: 30px;
        font-size: 10px;
        line-height: 13px;
        min-width: 150px;
        
    }
}