.si-statusNot {
  max-width: 182px;
  width: 100%;
  border-radius: $border-radius-10;
  border: 1px solid $neutral-2;
  margin: auto;
  padding: 10px;
  @extend %si-fb;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  font-family: $black-ff-2;
  font-weight: $black-fw;
  label {
    width: 24px;
    height: 24px;
    border: 1px solid $quinary;
    background-color: $quinary;
    @extend %si-fb;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 14px;
    margin-left: 10px;

    &:after {
      content: "\e903";
      font-family: kkr !important;
    }
  }
  &Txt {
    color: $neutral-2;
  }
  &.si-correctAns {
    label {
      background-color: $correct;
      border-color: $correct;
    }
  }
  &.si-wrongAns {
    label {
      background-color: $incorrect;
      border-color: $incorrect;
    }
  }
  &Wrp {
    @extend %si-fb;
    justify-content: center;
    .si-pName {
      color: $neutral-2;
      @extend %si-fb;
      flex-direction: column;
    }
    .si-pSelectImg {
      width: 120px;
      @include transform(scale(1));

      &.si-correctAns {
        label {
          background-color: $quinary;
          border-color: $quinary;
          color: $quaternary;
          opacity: 1;
          visibility: visible;
        }
      }
      &.si-live {
        label {
          background-color: $secondary;
          border-color: $secondary;
          color: $primary-2;
          opacity: 1;
          visibility: visible;
        }
      }
      &.si-wrongAns {
        label {
          background-color: $incorrect;
          border-color: $incorrect;
          color: $neutral;
          opacity: 1;
          visibility: visible;
        }
      }
      &Wrp {
        @extend %si-fb;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .si-pName {
          margin-top: -20px;
        }
        &:nth-child(2) {
          margin-left: 20px;
        }
      }
    }

    &.si-wrong {
      @extend %si-fb;
      align-items: center;
      justify-content: center;
      .si-statusNot {
        margin: 0 15px 0 0;
      }
      .si-pSelectImg {
        display: block;
      }

      .si-wrongAns {
        label.si-checkBox {
          border-color: $incorrect;
          input[type="checkbox"]:checked + i {
            background-color: $incorrect;
          }
        }
      }
    }
    &.si-correct {
      .si-pSelectImg {
        display: none;
      }
    }
  }
}
