

.si-prizes{
    &-sec{
        @extend %si-fb;
        position: relative;
        &.si-1stMd{
            // .si-prizes-rgt img{
            //     height: 145px;
            // }
            background-image: url(../images/prizes-1-3-bg.png?v=#{$image-version});
            background-repeat: no-repeat; 
            background-position: bottom right;
            // background-size: 70% auto;
            background-size: contain;
        }
        &.si-2ndMd{
            text-align: right;
            justify-content: end;
            background-image: url(../images/prizes-2-bg.png?v=#{$image-version});
            background-position: bottom left;
            background-repeat: no-repeat; 
            // background-size: 70% auto;
            background-size: contain;
            .si-prizes-lft{
                padding-left: 140px;
                padding-right: 0;
            }
            .si-prizes-rgt{
                right: auto;
                left: 5px;
            } 
            .si-medal{
                margin-left: auto;
            }
            .si-prizes-cont{

                &::before{
                    right: 0;
                    left: 0;
                }
                &::after{ 
                    right: 0;
                    left: 0;
                }
            }
        }
        &.si-3rdMd{
            background-image: url(../images/prizes-1-3-bg.png?v=#{$image-version}); 
            background-repeat: no-repeat;
            background-position: bottom right;
            // background-size: 70% auto;
            background-size: contain;
        }
        &.si-1stMd,&.si-3rdMd{
            li{
                position: relative;
                padding-left: 10px;
                &::before{
                    position: absolute;
                    left: -4px;
                    top: 6px;
                }
            }

        }
    }
    &-lft{
        color: $neutral-2;
        position: relative;
        z-index: 1;
        padding-right: 140px;
        width: 100%;
        .si-medal{
            flex-basis: 25px;
            position: relative;
            
        }
    }
    &-hd{
        font-size: 20px;
        font-family: $bold-ff-2;
        font-weight: $bold-fw;
        margin-top: 15px;
        color: $primary;
    }
    &-cont{

        padding-top: 8px;
        margin-top: 5px;
        position: relative;
        color: $primary-1;
        ul{
            
            li{
                font-size: 12px;
                line-height: 14px;
    
                position: relative;
                margin-bottom: 3px;
                &::before{
                    content: "";
                    display: inline-block;
                    // left: 5px;
                    // top: 5px;
                    margin: 0 5px;
                    vertical-align: middle;
                    width: 3px;
                    height: 3px;
                    border-radius: 100%;
                    background-color:$primary-1;
                }
            }
        }
         

        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 1px;
            background-color: $secondary;
        }
        &::after{
            content: "";
            position: absolute;
            top: -3px;
            right: 0;
            width: 7px;
            height: 7px;
            border-radius: 100%;
            background-color: $secondary;
        }
    }
    &-rgt{
        position: absolute;
        bottom: 0;
        right: 5px;
        z-index: 0;
        img{
            width: auto;
            height: 125px;
        }
    }
    &TnC{
        margin-top: 20px;
        &>strong{
            color: $neutral-2;
            font-weight: $bold-fw;
            font-size: 16px;
            padding-bottom: 10px;
            display: block;
        }
        ul{
            font-size: 12px;
            line-height: 14px;
            line-height: 16px;
            color: $neutral-2;
            li{
                padding-bottom: 10px;
                position: relative;
                padding-left: 15px;
                &::before{
                    content: "";
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    width: 3px;
                    height: 3px;
                    border-radius: 3px;
                    background-color: $neutral-2;
                }
            }
        }
    }
}

.si-static{
    &-hd{
        font-size: 16px;
        line-height: 21px;
        font-family: $bold-ff-2;
        font-weight: $bold-fw;
        margin-bottom: 15px;
    }
    &-cont{
        font-size: 14px;
        line-height: 20px;
        ul {
            margin-top: 15px;
            li{
                font-size: 14px;
                line-height: 20px;
                padding-left: 15px;
                margin-bottom: 5px;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 7px;
                    width: 5px;
                    height: 5px;
                    border-radius: 100%;
                    background-color: $primary-2
                }
            }
        }
    }

}

.si-prizes,.si-rules,.si-terms{
    padding: $gutter15;
    section{
        // border: 1px solid $gray;
        background-color: $neutral-2;
        min-height: 126px; 
        border-radius: $border-radius-12;
        margin-top: $gutter15;
        padding: $gutter15;
        color: $primary-1;
        &:first-child{
            margin-top: 0;
        }
    }
}
// .si-prizes{
   
//     section{
//         background-color: $primary;
//     }
// }
.si-comingSoon{
    @extend %si-fb;
    flex-direction: column;
    // height: calc(100vh - 60px);
    padding-bottom: 20px;
    // &::before{
    //     content: "";
    //     position: fixed;
    //     bottom: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 50%;
    //     background: url(../images/eot.png?v=#{$image-version}) no-repeat bottom left transparent; 
    //     background-size: cover;
    //     mix-blend-mode: color-dodge;    
    //     opacity: 0.7; 
    // }

    &Top{
        flex: 1;
        // padding-top: 55px;
        
        
        img{
            width: 100%;
            vertical-align: top;
        }
    } 
    &Bot{
        flex: 1;
        position: relative;
        .si-btn{
            min-width: 173px;
            flex: none;
            margin: 50px auto auto;
            i{
                @include transform(rotate(180deg));
                margin-left: 10px;

            }
        }
        .si-supportStrip{
            background-color: transparent;
            flex-direction: column;
            font-size: 14px;
            height: auto;
            margin-top: 10px;
            img{
                height: 28px;
                margin-top: 5px;
                margin-left: 0;
            }
        }
    }
    &Txt{
        color: $neutral-2;
        text-align: center;
        padding-top: 15px;
        margin-top: 15px;
        font-size: 12px;
        position: relative;
        &::before{
            content: "";
            width: 208px;
            height: 1px;
            background-color: $neutral-2;
            position: absolute;
            top: 0;
            margin: auto;
            opacity: 1;
        }
    }
} 