$icomoon-font-family: "kkr" !default;
$icomoon-font-path: "fonts" !default;

$kkr-close: "\e919";
$kkr-lock1: "\e918";
$kkr-wrong: "\e917";
$kkr-lock: "\e916";
$kkr-equal: "\e915";
$kkr-cup: "\e900";
$kkr-arrow-heigh: "\e901";
$kkr-arrow-low: "\e902";
$kkr-tick: "\e903";
$kkr-jocker: "\e904";
$kkr-arrow-type-2: "\e905";
$kkr-arrow-type-1: "\e906";
$kkr-info: "\e907";
$kkr-pop-up-close: "\e908";
$kkr-ball: "\e909";
$kkr-catch: "\e90a";
$kkr-hundred: "\e90b";
$kkr-fifry: "\e90c";
$kkr-run: "\e90d";
$kkr-third-umpire: "\e90e";
$kkr-leg-bye: "\e90f";
$kkr-no-ball: "\e910";
$kkr-wide: "\e911";
$kkr-wickets: "\e912";
$kkr-six: "\e913";
$kkr-four: "\e914";

