:root {
  /* ICCFont */
  --light-ff: "ICCFontLight", sans-serif;
  --regular-ff: "ICCFontRegular", sans-serif;
  --medium-ff: "ICCFontMedium", sans-serif;
  --bold-ff: "ICCFontBold", sans-serif;
  --black-ff: "ICCFontBold", sans-serif;
}
