$image-version: "0.0";

:root {
  --transparent: transparent;

  // Default Color
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  // client
  --primary: hsl(232, 77%, 34%);
  --secondary: hsl(204, 70%, 58%);

  /* neutral */
  --neutral-1: hsl(0, 0%, 27%); // other text
  --neutral-2: hsl(0, 0%, 13%); // heading
  --neutral-3: hsl(0, 0%, 53%); //light gray

  /* other colors*/
  --ourClient-bg: hsl(204, 71%, 97%);

  /* openSansFont */
  --openSansregular-ff: "Open Sans", sans-serif;

  /* Raleway */
  --raleway-ff: "Raleway", sans-serif;

  /* font weight */
  --fontWeightBold: 700;
  --fontWeightReguler: 300;

  // all variables
  --base-font-size: 62.5%;
  --vh: 1vh;
  --window-inner-height: calc(var(--vh, 1vh) * 100);
  --border-radius-50: 5rem;
  --border-radius-25: 2.5rem;
  --border-radius-5: 0.5rem;
  --border-radius-100: 100%;
  --cta-height-xs: 1.4rem;
  --cta-height: 4.8rem;
  --gutter-space: 0.4rem;
  --grid-width: 44rem;
  --section-tb-pad: 2.4rem;

  // container width
  --screen-mob-xs: 375px;
  --screen-mob-sm: 480px;
  --screen-mob: 576px;
  --screen-tab: 768px;
  --screen-lap: 984px;
  --screen-desk: 1320px;
}

// mobile ex-small
$media-mobile-ex-sm-min: 320px;
$media-mobile-ex-sm-max: 321.98px;

// mobile small
$media-mobile-sm-min: 375px;
$media-mobile-sm-max: 374.98px;

// mobile
$media-mobile-min: 576px;
$media-mobile-max: 575.98px;

// tablets
$media-tablets-min: 768px;
$media-tablets-max: 767.98px;

// desktop
$media-desktop-min: 992px;
$media-desktop-max: 991.98px;

// lg-desktop
$media-lg-desktop-min: 1200px;
$media-lg-desktop-max: 1199.98px;

// extra lg-desktop
$media-xlg-desktop-min: 1400px;
$media-xlg-desktop-max: 1399.98px;

@media screen and (min-width: $media-desktop-min) {
  :root {
    --section-tb-pad: 6rem;
  }
}
